.shop-category {
  margin-bottom: 50px;

  a {
    display: block;
    width: fit-content;
    height: 100%;

    .shop-category__title:hover {
      color: rgb(97, 97, 97);
    }
  }

  .shop-category__title {
    width: fit-content;
  }

  .shop-category__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
  }
}
